@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

body {
  background-color: #333;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}

#head {
  vertical-align: middle;
}

@keyframes hovering {
    from {transform:translate(0, 0px);}
    50% {transform:translate(0, -25px);}
    to {transform: translate(0, -0px);}
}

#logo {
  margin-top: 28%;
  margin-left: 58%;
  height: 256px;
  position: absolute;
  webkit-animation-name: hovering;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-name: hovering;
  -moz-animation-duration: 3s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: ease-in-out;
  animation-name: hovering;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

#right {
  float: right;
}

#left {
  float: left;
  padding-left: 10px;
}

.fg {
  color: #fff;
  font-size: 20pt !important;
  margin-right: 15px;
}

.fg-small {
  font-size: 17pt !important;
}

#title {
  font-weight: 300;
  font-size: 48pt;
  margin-top: 5%;
  padding: 10px;
}

#sub {
  font-weight: 400;
  font-size: 16pt;
}

#hero {
  text-align: center;
}

#semiscreen {
  height: 500px;
  margin-left: 21.5%;
  margin-top: 30%;
  position: absolute;
}

#semi {
  position: relative;
}

#notice {
  visibility: hidden;
}

@media only screen and (max-width: 1500px) {
  #logo {
    margin-top: 38%;
  }
  #semiscreen {
    margin-left: 12.5%;
    margin-top: 40%;
  }
}

@media only screen and (min-width: 1500px) {
  body {
    background-color: #333;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
  }
}


@media only screen and (max-width: 1000px) {
  #logo {
    display: none;
  }
  #semiscreen {
    display: none;
  }
  #download {
    display: none;
  }
  #title {
    line-height: 1;
    margin-top: 10%;
  }
  #stars {
    display: none;
  }
  #notice {
    visibility: visible;
  }
  #group {
    display: none;
  }
}

.btn {
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  color: #fff;
  font-size: 13px;
  padding: 10px 20px 10px 20px;
  border: solid #fff 2px;
  width: 240px;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
  margin-right: 20px;
  margin-bottom: 10px;
}

.btn:hover {
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  color: #333;
  background-color: #ffffff;
  font-size: 13px;
  padding: 10px 20px 10px 20px;
  border: solid #fff 2px;
  width: 240px;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
  margin-right: 20px;
  margin-bottom: 10px;
}

#stars {
  background-image: url(../img/stars.png);
  background-repeat: repeat;
  margin-top: 30%;
  height: 400px;
  width: 100%;
  position: absolute;
}
